//COLORS
$color-primary: #19185A; //Strong blue.
$color-primary-light: #3235FF; //light blue.

$color-secondary-light: #DBD9D6; //Light gray.

$color-white: #fff; //white.
$color-black: #000; //Black.

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
