.patronato__second-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20vw 0 22vw;
    
    /* iPad*/
    @include respond(ipad) {
        grid-template-columns: 1fr;
        padding: 0 0 0 0;
    }
}

.patronato__empty {
    /* iPad*/
    @include respond(ipad) {
        display: none;
    }  
}

.patronato__form {
    /* iphone-plus */
    @include respond(ipad) {
        padding: 0 2rem 0 2rem;
    }
}

.patronato__title {
    color: $color-primary-light;
    font-size: 2.5rem;

    /* iphone-plus */
    @include respond(ipad) {
        text-align: center;
        font-size: 3rem;
    }

    /* iphone-plus */
    @include respond(iphone-plus) {
        font-size: 1.8rem;
    }
}

.patronato__contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 3rem;  
}

.btn-newsletter-patronato {
    background-color: $color-primary-light;
    color: $color-white;
    padding: 1rem 2rem 1rem 2rem;
    height: 4rem;
    cursor: pointer;
    font-size: 1.5rem;

    /* iphone-plus */
    @include respond(ipad) {
        width: 100%;
        padding: 0;
    }

    /* iphone-plus */
    @include respond(iphone-plus) {
        height: 3rem;
    }
}

.patronato__control {
    width: 100%;
    background-color: $color-white;
    height: 4rem;
    color: color-primary-light;
    border: 2px solid color-primary-light;
    font-size: 2rem;

    &::placeholder {
      color: $color-primary-light;
      font-size: 2rem;
    }

    /* iphone-plus */
    @include respond(iphone-plus) {
      height: 3rem;
    }
  }

.patronato__buttons {
    margin-top: -1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;

    /* iphone-plus */
    @include respond(iphone-plus) {
        display: block;
    }

    a {
        text-decoration: none;
        background-color: $color-primary-light;
        color: $color-white;
        padding: 1rem 2.5rem 1rem 2.5rem;
        font-size: 2.5rem;

        /* iphone-plus */
        @include respond(iphone-plus) {
            padding: 1rem 1rem 1rem 1rem;
        }
    }

    a:last-child {
        margin-left: 8px;

        /* iphone-plus */
        @include respond(iphone-plus) {
            margin-left: 0;
        }
    }
}

.third-row {
   margin-top: 5rem;

   .logos__container {
       img {
           width: 70%;
       }
   }
}