

.information {
    overflow-x: hidden;
    padding: 10rem;

    /* iPhone Plus */
    @include respond(iphone-plus) {
        padding: 2rem;
    }

    &__close {
       @include close-btn; //Call mixin Close-btn. 
    }

    &__header {
        margin-top: 10rem;
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;

        /* ipad */
        @include respond(ipad) {
            grid-template-columns: 1fr 4fr 2fr;
            margin-top: 4rem;  
        }

        /* iPhone Plus */
        @include respond(iphone-plus) {
            grid-template-columns: 1fr 5fr 0.1fr;
        }
    }
    
    &__title {
        span {
            color: $color-primary-light;
        }
        h2 {
            text-decoration: underline;
            font-size: 3.8rem;

            /* ipad */
            @include respond(ipad) {
                font-size: 4rem;
                line-height: 5rem;
            }

            /* iPhone Plus */
            @include respond(iphone-plus) {
                font-size: 3.5rem;
            }
        }

        p {
            color: $color-primary-light;
            font-size: 1.5rem;
            text-align: justify;

            /* ipad */
            @include respond(ipad) {
                font-size: 1.8rem;
            }
        }
    }
    
    &__image {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        /* ipad */
        @include respond(ipad) {
            max-width: 100vw;
        }

        img {

            transition: all 0.8s;
            /* Blue filter */
            filter: sepia(100%) hue-rotate(195deg) saturate(500%);

            &:hover {
                /* Blue filter */
                filter: sepia(0%) hue-rotate(0deg) saturate(100%);    
            }

             /* ipad */
            @include respond(ipad) {
                max-width: 100vw;
            }
        }
    }
    
    &__details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        /* ipad */
        @include respond(ipad) {
            grid-template-columns: 1fr;
        }
    }

    &__text {
        overflow-y: auto;
        max-width: 70%;
        max-height: 40rem;
        background-color:  $color-white;
        transform: translateY(-10rem);

        /* ipad */
        @include respond(ipad) {
            max-width: 100%;
            transform: translateY(-5rem);
        }

        /* iPhone Plus */
        @include respond(iphone-plus) {
            width: 100%;
            transform: translateY(0rem);
            max-height: 20rem;
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
        p {
            padding: 2rem;
            font-size: 1.8rem;
            line-height: 2rem;

            /* ipad */
            @include respond(ipad) {
                font-size: 2rem;
            }
        }
    }
}

/* G a l l e r y */

.ui-icons {
    background-color: rgba($color-primary, 0.5);
    transition: all 0.2s ease;
    cursor: pointer;
}

.ui-icons:hover {
    background-color: rgba($color-primary, 1);
}

/*
.expand {
    width: 2vw;
    position: absolute;
    transform: translate(31.7vw, 17.7vw);  
    padding: 0.3%;
}
*/

.arrows {
    width: 2vw;
    padding: 0.5% 0;
    z-index: 10;

    @include respond(ipad) {
        width: 3vw;
    }

    @include respond(iphone-plus) {
        width: 4vw;
    }
}

.arrow__next {
    transform: translateX(-100%);
}

.arrow__preview {
    transform: translateX(100%);
}

/* ============= F U L L  V I E W ============= */
.full {
    &__view {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba($color-primary, 1);
        display: none;
        z-index: 20; //margin-left: -11.1vw;
        transition: all 0.2s ease;

        display: none;
        justify-content: center;
        align-content: center;
        align-self: center;

        /* Portrait tablet */
        @include respond(tab-port) {
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            transform-origin: left top;
            width: 100vh;
            overflow-x: hidden;
            top: 100%;
            left: 0;
        }

        .visor__img {
            width: 80vw;
            height: auto;
            filter: sepia(0%) hue-rotate(0deg) saturate(100%); 
            /* Portrait tablet */

            @include respond(tab-port) {
                width: 85vh;
                margin-top: 11%;
            }

            @include respond(phone) {
                width: 140vw;
            }
        }

        .arrow__preview {
            margin-left: 3vw;

            @include respond(tab-port) {
                margin-left: 4vh;
            }
        }

        .arrow__preview,
        .arrow__next {
            width: 3vw;
            transform: translate(0, 0);

            @include respond(tab-port) {
                width: 3vh;
            }
        }

        .arrow__next:hover {
            transform: translateX(3px);

            @include respond(tab-port) {
                transform: translateX(0px);
            }
        }

        .arrow__preview:hover {
            transform: translateX(-3px);

            @include respond(tab-port) {
                transform: translateX(0px);
            }
        }

        .arrow {
            opacity: 0.5;
            transition: all 0.5s ease;

            @include respond(tab-port) {
                opacity: 1;
                margin-top: 8vw;
            }
        }

        .arrow:hover {
            opacity: 1;
        }

        .close-gallery {
            color: $color-primary;
            border: 1px solid $color-primary;
            border-radius: 100%;
            //padding-bottom: 5rem;
            font-size: 35px;
            height: 6.5rem;
            width: 6.5rem;
            top: 1.5rem;
            left: 3.5rem;
            position: fixed;
            cursor: pointer;
            text-align: center;
            z-index: 300;
            background-color: $color-white;

            /* iPhone Plus */
            @include respond(iphone-plus) {
                height: 4.5rem;
                width: 4.5rem; 
                padding-bottom: 0rem;
                font-size: 25px;
            }
        }
    }

    &__container {
        display: flex;
        align-self: center;
        align-items: center;
        max-width: 100vw;
        overflow: hidden;
        transition: all 0.3s ease;

        @include respond(tab-port) {
           max-width: 100vh;
           margin-top: -40%;
        }

        @include respond(phone) {
            margin-top: -90vw;
        }
    }
} 

/* ============= A N I M A T I O N S ============= */
.transition-fadeIn {
   animation: fadeIn 1s;
}

.transition-fadeInPersist {
    animation: fadeInPersist 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInPersist {
    to {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
}




